$font-stack: Helvetica, sans-serif;
$primary-color: rgb(3, 78, 3);
$secondary-color: rgb(224, 192, 7);
$tertiary-color: rgb(193, 252, 193);
$hoverColor: rgb(166, 223, 166);

@mixin buttonStyle($type) {
  margin: 5px;

  outline: none;
  border: 1px solid $primary-color;
  border-radius: 50px;
  @if $type == light {
    background-color: $tertiary-color;
    color: $primary-color;
  } @else if $type == dark {
    background-color: $hoverColor;
  } @else if $type == darkest {
    background-color: $primary-color;
    color: $tertiary-color;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: $font-stack;
}
header {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  justify-content: center;
  height: 10%r;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83%;
}
#dBtns {
  color: $primary-color;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input {
      @include buttonStyle(light);
    }
    input:hover {
      @include buttonStyle(dark);
    }
    input:active {
      @include buttonStyle(darkest);
    }
  }
}
img {
  display: none;
  animation: rotation 1.5s infinite linear;
}
#dTiendas{
  display: none;
  height: auto;
  color: $primary-color;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 .dCards{
   border: $primary-color;
   border-radius: 5px;
 }
}