@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  height: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif; }

header {
  background-color: #034e03;
  color: #e0c007;
  display: flex;
  justify-content: center;
  height: 10%r; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

#dBtns {
  color: #034e03;
  display: flex;
  flex-direction: column; }
  #dBtns div {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    #dBtns div input {
      margin: 5px;
      outline: none;
      border: 1px solid #034e03;
      border-radius: 50px;
      background-color: #c1fcc1;
      color: #034e03; }
    #dBtns div input:hover {
      margin: 5px;
      outline: none;
      border: 1px solid #034e03;
      border-radius: 50px;
      background-color: #a6dfa6; }
    #dBtns div input:active {
      margin: 5px;
      outline: none;
      border: 1px solid #034e03;
      border-radius: 50px;
      background-color: #034e03;
      color: #c1fcc1; }

img {
  display: none;
  animation: rotation 1.5s infinite linear; }

#dTiendas {
  display: none;
  height: 100%;
  color: #034e03;
  flex-direction: column;
  min-width: 66%; }

.dCards {
  display: flex;
  flex-direction: column;
  border: #034e03 solid 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  min-height: 10%; }
